body {
    height: 50%;
    background-color: aqua;
}

.info{
    display: flex;
    flex-direction: column;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    opacity: 0;
    visibility: hidden ;
    background: rgba(156,243,120, 1);
    font-weight: 700;
    border: 5px solid rgba(100,203,120, 1);
    color: #fff;
    transition-duration: 0.4s;
}
.popup__menu{
    text-align: right;
}
.popup__content{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.popup:target{
    opacity: 1;
    visibility: visible;
}