
.header {
    height: 20vh;
    width: 100%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.market-modal-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.market-modal-page._active {
    opacity: 1;
    visibility: visible;
}

.market-modal-page__body {
    display: flex;

    flex-direction: column;
    width: 40%;
    padding: 30px 50px;
    background-color: #fff;
}

.market-modal-page__top {
    display: flex;
    justify-content: space-between;
}

.market-modal-page__title {
    font-weight: 700;
    font-size: 2em;
}

.market-modal-page__icon-close {
    height: 25px;
    width: 25px;
}

.market-modal-page__form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.market-modal-page__textarea {
    margin: 15px 0px;
    min-height: 50px;
}

